body {
  background: #FDFDFD;
  font-family: 'Open Sans', sans-serif;
}

nav {
  font-family: 'Pacifico', cursive;
  background: #FF7985;
  margin-bottom: 50px;
}

nav h1{
  color: #FFF;
  display: inline-block;
  margin: 10px;
  padding-bottom: 20px;
}

nav ul{
  float: right;
  padding-right: 10px;
}
nav li{
  display: inline-block;
  margin: 10px;
  padding-top: 10px;
  font-size: 28px;
}

nav a { 
  color: #FFF;
}

nav a:hover {
  color: #FFF; 
}

.content {
  padding: 50px;
  color: #14BECC;
}

.content a{
  color: #14BECC;
} 

.content a:hover{
  color: #14BECC;
}

.control{
  display: inline-block;
  padding-left: 50px;
}

.control a {
  margin-left: 10px;
}

.form {
  padding-right: 50px;
  max-width: 800px;
}

.post{
  max-width: 500px;
}

.post .meta{
  padding-bottom: 50px;
}

.post .meta h5{
  display: inline;
  padding-right: 50px;
}
